In [72]:
import os
import pandas as pd

In [73]:
csv_dir = './exps'
csv_filenames = os.listdir(csv_dir)
csv_filenames[:] = [x for x in csv_filenames if x != '.DS_Store'] # remove '.DS_Store' if it exists

df_template = {
        'p': [],
        'q': [],
        'seed': [],
        'ts': [],
        'data_qubit_transmitted': [],
        'x-hop': [],
        'y-hop': [],
    }
df = pd.DataFrame(df_template)

In [74]:
# e.g 'p0.45-q1-s7.csv'
row_idx = 0
for c in csv_filenames:
    prob_p = float(c.split('-')[0][1:])
    prob_q = float(c.split('-')[1][1:]) 
    seed = int(c.split('-')[2].split('.')[0][1:])
    csv_data = pd.read_csv(f"./{csv_dir}/{c}")
    for i, _ in csv_data.iterrows():
        df_row = []
        for k in df_template.keys():
            if k == 'p':
                df_row.append(prob_p)
            elif k == 'q':
                df_row.append(prob_q)
            elif k == 'seed':
                df_row.append(seed)
            elif k == 'data_qubit_transmitted':
                qubit_status = csv_data[k][i]
                df_row.append(1 if qubit_status == 'success' else 0)
            else:
                df_row.append(csv_data[k][i])
        df.loc[row_idx] = df_row
        row_idx += 1
df

        p    q  seed    ts  data_qubit_transmitted  x-hop  y-hop
0    0.45  1.0   7.0   1.0                     0.0    2.0    1.0
1    0.45  1.0   7.0   2.0                     1.0    1.0    0.0
2    0.45  1.0   7.0   3.0                     0.0    0.0    2.0
3    0.45  1.0   7.0   4.0                     0.0    1.0    1.0
4    0.45  1.0   7.0   5.0                     0.0    1.0    3.0
..    ...  ...   ...   ...                     ...    ...    ...
295  0.45  1.0   1.0   6.0                     0.0    2.0    3.0
296  0.45  1.0   1.0   7.0                     1.0    0.0    1.0
297  0.45  1.0   1.0   8.0                     1.0    0.0    3.0
298  0.45  1.0   1.0   9.0                     0.0    1.0    2.0
299  0.45  1.0   1.0  10.0                     0.0    3.0    1.0

[300 rows x 7 columns]

In [75]:
convert_dict = {
        'p': float,
        'q': float,
        'seed': int,
        'ts': int,
        'data_qubit_transmitted': int,
        'x-hop': int,
        'y-hop': int,
    }
df = df.astype(convert_dict)
df

        p    q  seed  ts  data_qubit_transmitted  x-hop  y-hop
0    0.45  1.0     7   1                       0      2      1
1    0.45  1.0     7   2                       1      1      0
2    0.45  1.0     7   3                       0      0      2
3    0.45  1.0     7   4                       0      1      1
4    0.45  1.0     7   5                       0      1      3
..    ...  ...   ...  ..                     ...    ...    ...
295  0.45  1.0     1   6                       0      2      3
296  0.45  1.0     1   7                       1      0      1
297  0.45  1.0     1   8                       1      0      3
298  0.45  1.0     1   9                       0      1      2
299  0.45  1.0     1  10                       0      3      1

[300 rows x 7 columns]

In [78]:
df2 = {
        'line_label': [],
        'data_qubit_transmitted': [],
        'x-hop': [],
        'y-hop': [],
    }

row_idx = 0
for _, row in df.iterrows():
    df2_row = []
    # print(row['seed'])
    line_label = f'Rg({row["p"]}, {row["q"]})'

    break

0
p                         0.45
q                         1.00
seed                      7.00
ts                        1.00
data_qubit_transmitted    0.00
x-hop                     2.00
y-hop                     1.00
Name: 0, dtype: float64
7.0

In [77]:
# df.plot.line()